@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat";
  box-sizing: border-box;
}

h2{
    text-align: center;
}
.cart{
    padding:1rem;
    position: absolute;
    width: 883px;
    height:max-content;
    left: 87px;
    top: 156px;
    background: #FFFFFF;
    box-shadow: 1.07636px 2.15273px 5.38182px rgba(0, 0, 0, 0.25);
    border-radius: 5.38182px; 
}


table{
    width:100%;
}

th {
    width:calc(100%/5);
    text-align: center;
}

.identifier_row{
padding:8px 0;
}
tr{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
td {
    padding:8px 0;
    width:calc(100%/5);
    text-align: center;
}

.product_row{
    border-bottom: 1px solid #EAE8E8;
}

button{
    border:none;
    background:none;
    cursor :pointer;
}

.product-img{
    border-radius: 5px;
    width:62px;
    height:55px;
}