.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* background-color: #f1f0f0; */
  background-color: white;
}

.container {
  padding: 50px 40px;
  background-color: white;
  max-width: 1400px;
  border: 1px solid rgba(128, 128, 128, 0.243);
  border-top: none;
}

h3 {
  color: rgb(145, 143, 143);
}

.casual-card {
  position: relative;
  background: white;
  width: 49%;
  height: max-content;
  max-height: 295px;
  max-width: 275px;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid white;
  color: black;
}

.casual-card:hover {
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.image-container {
  width: 100%;
  /* height:300px; */
}

.casual-img {
  object-fit: cover;
  height: 190px;
  max-height: 200px;
  width: 100%;
}

.casual-desc {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  padding: 16px 16px 0px 16px;
}

.casual-txt {
  font-weight: 500;
  text-align: center;
  background: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: max(0.6rem, 1rem);
}

.casual-products {
  margin-top: 35px;
  background-color: white;
  display: flex;
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.desc {
  background-color: white;
  padding-left: 91px;
}

@media (max-width: 768px) {
  .desc {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0;
    justify-content: center;
  }
}
