@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.btn-logout{
    background-color: #000000;
color:white;
    align-self: center;
    padding:10px;
    width: 177px;
height: 34.49px;
border-radius: 5px;
font-size: 0.8em;
text-align: center;
margin: auto;
}

.hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    min-width:100%;
    min-height:30.938rem;
    animation:increaseOpacity ease-in 1.5s forwards;
}

.heroimage{
    width:100%;
    /* background-color:cadetblue; */
    display:flex;
    align-items: center;
    justify-content: center;
}

.description{
    display:flex;
    /* background-color:cadetblue; */
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.shoeimage-mobile{   
    margin-top:2rem;
    width:132px;
    height:131px;
    /* animation:increaseOpacity ease-in 1.5s forwards; */
}

@keyframes increaseOpacity {
    0%{
        opacity: 0%;
        transform:translateY(-50%)
    }

     100%{
        opacity: 100%;
        transform:translateY(0%)
     }
}

.mainheading{
    margin-top:0.75rem;
    font-weight: bold;
    font-family:'Montserrat', sans-serif;
    font-size:1.8em;
}

.subheading{
    width: 15rem;
height: 4.5rem;
    margin-top: 0.7em;
    text-align: center;
    line-height: 1.5em;
font-size: 1rem;
font-family:'Montserrat', sans-serif;
font-weight: 500;
}

.btn-action{
    font-size: 0.8em;
    font-family: 'Montserrat';
    margin-top: 0.75rem;
    background-color: black;
    color:white;
    border:none;
    border-radius: 0.5em;
    width: 96px;
height: 39.49px;
left: 132px;
}

.categories{
    /* display:flex; */
    width:100%;
    margin-top:3rem;
}


.categories-title{
    text-align: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 1em;
/* margin-top: 4.2rem; */


color: #000000;
}
.categories-items{
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    width:100%
}
.item{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    /* position: absolute; */
width: 95%;
height: 243px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-desc{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 2em;
line-height: 39px;
/* identical to box height */


color: #000000;
}

#casual{
    background: url("../images/casual.svg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}
#sports{
    background: url("../images/sports.svg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}
#formal{
    background: url("../images/formal.svg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}


@media(min-width:768px){

    .hero{
        min-height:40rem;
    }
.mainheading{
        margin-top:22px;
        font-size:3em;
    }

.subheading{
    margin-top:1.5rem;
    font-size: 1.5em;
    width:44.813rem;
    height: 1.8rem;
}

#searchbox{

    width:800px;
}
.categories-title{
    font-size: 1.5em;
    
}

    .item{
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5em;
        /* position: absolute; */
    width: 25%;
    height: 345px;
    }

  .categories-items{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .btn-action{
        font-size: 1em;
        font-family: 'Montserrat';
        /* margin-top: 0.2rem; */
        background-color: black;
        color:white;
        border:none;
        border-radius: 0.5em;

width: 153px;
height: 47px;
left: 635px;
top: 594px;
    }

    .hamburgerlink{
        display: none;
    }

.shoeimage-mobile{   
    margin-top:69px;
    width:235px;
    height:235px;
}
}