@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-color: #f1f0f0;
  font-family: "Poppins";
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f0f0;
}

nav {
  position: sticky;
  top: 10px;
}

.main-logo {
  width: 5.5rem;
  height: 2.5rem;
}

.products-icon {
  position: relative;
}

.products-icon ::after {
  content: attr(data);
  position: absolute;
  top: -0.2rem;
  left: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: red;
}

#search-input::placeholder {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1em;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30.938rem;
  animation: increaseOpacity ease-in 1s forwards;
}

.heroimage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  /* background-color:cadetblue; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shoeimage-mobile {
  margin-top: 2rem;
  width: 132px;
  height: 131px;
}

@keyframes increaseOpacity {
  0% {
    opacity: 0%;
    transform: translateY(-50%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.mainheading {
  margin-top: 0.75rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
}

.subheading {
  width: 15rem;
  height: 4.5rem;
  margin-top: 0.7em;
  text-align: center;
  line-height: 1.5em;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn-action {
  font-size: 0.8em;
  font-family: "Poppins";
  margin-top: 0.75rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.5em;
  width: 96px;
  height: 39.49px;
  left: 132px;
}

.categories-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container-title {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3em;
  /* margin-top: 4.2rem; */

  color: #000000;
}
.categories-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: black;
}

.item {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  width: 80%;
  max-width: 400px;
  height: 243px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 600;
  font-size: 1.7em;
  line-height: 39px;
  text-decoration: none;
  color: #000000;
}

.background {
  position: absolute;
  transition: all ease-in 0.1s;
  height: 100%;
  width: 100%;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

#casual:hover {
  background-size: 600px;
  background-position: center;
}

#formal:hover {
  background-size: 600px;
  background-position: center;
}

#sports:hover {
  background-size: 600px;
  background-position: center;
}

#casual:hover .background {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  color: rgb(45, 45, 45);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 80%;
  font-size: 32px;
}

#sports:hover .background {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  color: rgb(45, 45, 45);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 80%;
  font-size: 32px;
}
#formal:hover .background {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  color: rgb(45, 45, 45);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 80%;
  font-size: 32px;
}

#casual {
  position: relative;
  overflow: hidden;
  background: url("../images/casual.svg");
  background-size: 350px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all ease-in 0.1s;
}

#sports {
  background: url("../images/sports.svg");
  /* background-size: cover; */
  background-size: 350px;
  transition: all ease-in 0.1s;
  background-position: center;
  background-repeat: no-repeat;
}
#formal {
  background: url("../images/formal.svg");
  background-size: cover;
  background-size: 350px;
  transition: all ease-in 0.1s;
  background-position: center;
  background-repeat: no-repeat;
}

.featured-container {
  display: flex;
  width: 100vw;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
  flex-direction: column;
}

.featured-products {
  display: flex;
  width: 100%;
  max-width: 1400px;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-card {
  position: relative;
  background: white;
  width: 49%;
  height: max-content;
  max-height: 295px;
  max-width: 275px;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid white;
  color: black;
}

.featured-card:hover {
  border: 1px solid black;
  cursor: pointer;
  color: black;
}

.hover-opacity {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: none;
  width: 100%;
  height: 100%;
}

.hover-opacity:hover {
  opacity: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.btn-container {
  background: none;
}

.cart-btn {
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background: black;
  color: white;
}

.image-container {
  width: 100%;
  /* height:300px; */
}

.featured-img {
  object-fit: cover;
  height: 190px;
  max-height: 200px;
  width: 100%;
}

.featured-desc {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  padding: 16px 16px 0px 16px;
}

.featured-txt {
  text-overflow: ellipsis;
  font-weight: 500;
  text-align: center;
  background: white;
  font-size: min(0.8rem, 1rem);
}

@media (min-width: 768px) {
  .hero {
    min-height: 40rem;
  }
  .mainheading {
    margin-top: 22px;
    font-size: 3em;
  }

  .subheading {
    margin-top: 1.5rem;
    font-size: 1.5em;
    width: 44.813rem;
    height: 1.8rem;
  }

  .item {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    width: 25%;
    height: 345px;
    text-decoration: none;
  }

  .categories-items {
    flex-direction: row;
    width: 1400px;
    gap: 10px;
    justify-content: center;
  }
  .btn-action {
    font-size: 1em;
    font-family: "Poppins";
    /* margin-top: 0.2rem; */
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5em;

    width: 153px;
    height: 47px;
    left: 635px;
    top: 594px;
  }

  .hamburgerlink {
    display: none;
  }

  .shoeimage-mobile {
    margin-top: 69px;
    width: 235px;
    height: 235px;
  }

  .main-logo {
    width: 9.938rem;
    height: 2.563rem;
  }

  .featured-txt {
    text-overflow: ellipsis;
    font-size: 1.1rem;
  }

  .featured-container {
    gap: 2.5rem;
    padding: 0px 170px;
  }

  .featured-products {
    gap: 10px;
  }
}

.search-form {
  position: relative;
}

.list {
  display: flex;
  padding: 5px 5px;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: black;
  display: flex;
  cursor: pointer;
}

.list:hover {
  background: white;
  color: black;
}

p {
  background: none;
}

#search-list {
  padding: 10px 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: absolute;
  top: 60px;
}

.search-img {
  object-fit: cover;
  height: 50px;
  width: 50px;
}
