@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* background-color: #f1f0f0; */
  font-family: "Poppins";
}
.search-form {
  position: relative;
}

.list {
  display: flex;
  padding: 5px 5px;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: black;
  display: flex;
  cursor: pointer;
}

.list:hover {
  background: rgba(198, 197, 197, 0.335);
  color: black;
}

p {
  background: none;
}

#search-list {
  padding: 10px 10px;
  border: 1px solid gray;
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: absolute;
  background: white;
  top: 60px;
}

.search-img {
  object-fit: cover;
  height: 50px;
  width: 50px;
}

nav {
  position: sticky;
  top: 10px;
}

.products-icon {
  position: relative;
}

.products-icon ::after {
  content: attr(data);
  position: absolute;
  top: -0.2rem;
  left: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: red;
}
