@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* background: #F1F0F0; */
    font-family: "Montserrat";
}

body{
    background:#F1F0F0;
}

.main_container{
    width:100%;
    justify-content: center;
    display:flex;
    /* align-items: center; */
}

.product-container{
    display:flex;
    flex-direction: row;
     background:#F1F0F0;
     padding:87px 10px;
    /* background:red;  */
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width:90%;
max-width: 1200px;
gap:43px;
justify-content: center;
}

.image_container{
    width:480px;
    max-width: 480px;
    height:300px;
}

.details_container{
display:flex;
gap:23px;
flex-direction: column;
    background:white;
    border-radius: 5px;
    width:450px;
    max-width: 450px;
    align-items: flex-start;
    padding: 30px 45px 54px 45px;
    height:max-content;
}



p{
    align-self: flex-start;
}

.product_name{
    font-size: 2rem;
    font-weight: 700;
}

.product_category{
    font-size: 1.5rem;
    font-weight:300;
}

.product_price{
    font-size: 1.8rem;
    font-weight: 500;
}


.product_size{
    font-weight: 500;
font-size: 1.5rem;
}

.size_container{
    display:flex;
    gap:33px;
}

.size{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    height:50px;
    width:50px;
    border:none;
    background:#F1F0F0;
}
.product_quantity{
   
    font-size: 1.6rem;
    font-weight:500
}

.quantity_container{
    display: flex;
    flex-direction: column;
    gap:23px;
}

.quantity{
    background:inherit;
    display:flex;
    gap:16px;
    align-items: center;
}

.quantity_value{
    font-size: 1.8rem;
    font-weight:500
}

.quantity_btn{
    font-size: 2rem;
    height:50px;
    width:50px;
    border:none;
    background:#F1F0F0;
}

.btn_container{
    display: flex;
    margin-top:10px;
    /* align-self: center; */
    flex-direction: column;
    gap:18px;
}

.btn{
    color:white;
    font-size: 1.2rem;
    font-weight: 500;
    border:none;
width:350px;
border-radius: 5px;
height:45px;
    background:black
}