nav {
  display: flex;
  width: 100%;
  padding: 15px 10px;
  position: sticky;
  top: 0px;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid rgb(204, 203, 203);
  background-color: white;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}
