@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: #f1f0f0;
  font-family: "Montserrat";
}


#content-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem;
}

#cards-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}

#orders-container {
  display: flex;
  padding:10px;
  width: 100%;
  justify-content: space-between;
gap: 10px;
  height:100%;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
}

.card {
  padding: 0.8rem;
  margin: 1rem;
  gap: 0.7rem;
  width: 95%;
  max-height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.card-title {
  font-weight: 500;
  font-size: 1.3em;
  color: #696060;
  background: none;
}

.card-count {
  font-weight: 500;
  font-size: 1.3em;
  background: none;
  color: #000000;
}

.container-title {
  font-weight: 600;
  font-size: 1.3em;
  color: #000000;
}

.orders-card {
  margin-top: 25px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0 1rem;
  min-width:max-content;
  background-color: #ffffff;
  box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
}
.img-div{
overflow: hidden;
height:150px;
display:flex;
justify-content: center;
   width:100%;
   background-color:white;
}

.product-img{
  height:100%;
   width:50%;
   object-fit:cover;
}

.order-details{
  display:flex;
  flex-direction: column;
   justify-content:space-between;
    width:100%;
  background-color: white;
}

.details-container{
  margin: 5px 0;
background-color: white;
  display:flex;
justify-content: space-between;
}

.detail-title{
  background-color: white;
  font-weight: 700;
  font-size: 0.8em;
  color: #000000;
}

.detail-values{
  background-color: white;

  font-weight: 500;
font-size: 0.8rem;
color: #757070;
}

.redirect-icon{
  display: none;
}

.redirect-icon a{
  background-color: white;
}



@media (min-width: 768px) {
  .redirect-icon{
    display: block;
  }
  
  /* #menu-container {
    position: relative;
    display: flex;
    max-width: 400px;
    height: 93.5vh;
  }
  .container-title {
    font-size: 1.8em;
  } */
  .card {
    width: 19rem;
    height: 18rem;
  }

  .card-title {
    font-weight: 500;
    font-size: 1.5em;
    color: #696060;
    background: none;
  }

  .card-count {
    font-weight: 500;
    font-size: 2.2em;
    background: none;
    color: #000000;
  }

  #orders-container {
    display: flex;
    padding:10px;
    width: 100%;
    height:100%;
    gap:2rem;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
  .orders-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:0.7rem 1rem;
    height: 105px;
    width: 80%;
    max-width:80rem;
    align-items: center;
  }
  .img-div{
    height:80%;
     width:7.5%;
     border-radius:25.5px;
  }

    .product-img{
      height:100%;
       width:100%;
       overflow: hidden;
    }
  .order-details{
    background-color: white;
    flex-direction: row;
    display:flex;
    justify-content: space-around;

  }
  
  .details-container{
  background-color: white;
    display:flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
  }
  
  .detail-title{
    background-color: white;
  
    font-weight: 700;
    font-size: 1.3em;
    color: #000000;
  }
  
  .detail-values{
    background-color: white;
  
    font-weight: 500;
  font-size: 1.3rem;
  color: #757070;
  }
  

}
